<div class="jumbotron">
    <h1>Draft Simulator</h1>
    <p class="lead">Welcome to the Draft Simulator.  In this website, you can simulate the draft lottery and see if your favourite team wins first pick of the draft.</p>
    <p><a href="https://en.wikipedia.org/wiki/NHL_Entry_Draft#Draft_lottery" class="btn btn-primary btn-lg">Learn more about the rules of the draft &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>The Draft Simulator is live!</h2>
        <p>
            The Draft Simulator for the 2017 Entry Draft is available to run draft simulations!  Click on the "Draft Run" option at the top of the screen and have fun!
        </p>

    </div>
    <div class="col-md-4">
        <h2>DevOps with Visual Studio</h2>
        <p>
            This application was built as a demonstration of Visual Studio DevOps capabilities.
            While the app itself is fun, the intent is to show how software development teams can
            use a continuous delivery pipeline to create great end user experiences.
        </p>
        <p><a class="btn btn-default" href="https://www.visualstudio.com/en-us/features/alm-devops-vs.aspx">Learn more about Visual Studio DevOps &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>This application is powered by the Microsoft Azure cloud platform.</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/">Learn more about Microsoft Azure&raquo;</a></p>
    </div>
</div>
